<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="never"/>
  <title>Vue.js Poster Shop</title>
  <link rel="icon" href="public/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

</head>
<body>
<div class="v-cloak">
  <div id="app" class="uk-container" v-cloak>
    <div class="header">
      <h1>Vue.js Poster Store</h1>
      <form action="" class="searchbar" v-on:submit.prevent="onSubmit">
        <input type="text" placeholder="Poster name" v-model="search">
        <input type="submit" value="Search">
      </form>
    </div>
    <div class="loading">
      <div v-if="loading" uk-modal>
      </div>
      <div v-else-if="items.length > 0">Found {{results.length}} for search term "{{lastSearch}}".<br></div>
      <div v-else-if="found == false && initial == false">not found.<br></div>
    </div>


    <div uk-grid class="uk-width-1-1">
      <div div class="uk-width-3-5" uk-grid>
        <div class=" uk-child-width-1-1@s uk-child-width-1-2@m uk-flex-center uk-grid-match" uk-grid>
          <div v-for="(item, index) in items">
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img v-bind:src="item.link">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{ item.title }}</h3>
                <p>{{item.price}}</p>
                <button class="uk-button uk-button-primary" v-on:click="addItem(index);">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
        <div id="product-list-bottom">
          <div v-if="loading">
            Loading ...
            <div uk-spinner></div>
          </div>
          <div v-if="noMoreItems">
            No more items.
          </div>
        </div>
      </div>
      <div class="uk-width-2-5" uk-grid>
        <div class="cart">
          <h2>Shopping Cart</h2>
          <transition-group name="slide-fade" tag="ul">
            <li class="cart-item" v-for="item in cart" v-bind:key="item.id">
              <h3>{{ item.title | uppercase }}</h3>
              <span>{{item.price|currency}} </span> x <span class="item-qty">{{item.qty}}</span>
              <button class="uk-button uk-button-small uk-button-secondary" v-on:click="increment(item);">+</button>
              <button class="uk-button uk-button-small uk-button-secondary" v-on:click="decrement(item);">-</button>
              &nbsp;&nbsp;&nbsp;
              <a href="#" v-on:click="remove(item);" uk-icon="icon: trash"></a>
            </li>
          </transition-group>
          <h4 v-if="cart.length" class="total">Total: {{ total | currency }}</h4>
          <h5 v-else class="empty-cart">No items in the cart</h5>
          <transition name="fade">
            <div v-if="wow"><h3>{{ wow }}</h3></div>
          </transition>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
<link rel="stylesheet" type="text/css" href="public/style.css">
</body>
</html>
