/* Generic styling */

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: 400;
}

button:focus, input:focus {
    outline: none;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }


/* Sections */

body {
    font-family: "Open Sans";
    font-weight: 100;
    margin: 50px
}

.cart {
    flex: 2;
    font-size: 2rem;
}

/* Header */

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    padding: 2rem 0 1rem;
    margin: 0;
    color: #FFAFAF;
    text-shadow: black 2px 1px 1px;
}

.searchbar {
    flex: 0 0 auto;
    padding: 1rem 0;
    display: flex;
}

.searchbar > input {
    padding: 5px 20px;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 1.1rem;
    border: 1px solid #E9E9E9;
    border-right: none;
}

.searchbar > input[type=submit] {
    background-color: black;
    padding: 1rem;
    border: none;
    border-radius: 2px;
    font-size: 0.8rem;
    color: white;
    user-select: none;
}

/* Cart */

.cart {
    margin-left: 1rem;
    padding-left: 10rem;
}

.cart .empty-cart {
    padding-top: 1rem;
}

.cart > h2 {
    margin-top: -50px;
}

.cart ul {
    width: 100%;
    font-size: 0.9rem;
    border-top: 2px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart ul li {
    vertical-align: top;
    padding: 2rem 0 1rem 0;
}

.cart ul .cart-item {
    border-bottom: 0 solid #E9E9E9;
}

.cart ul .cart-item .item-title {

}

.cart ul .cart-item .item-price {
    font-weight: bold;
    padding-top: 0;
}

.cart ul .cart-item .item-qty {
    margin-right: 1rem;
}

.total {
    border-top: 2px solid black;
    margin-top: 10px;
}

.cart ul .cart-item button {
    margin-right: 3px;
}

h3 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 10px;
}

h4,h5 {
    padding-top: 25px;
    margin-top: 0;
}

img { height: 200px;
    width: 100%;}

.uk-card-body h3 {
    font-size: 1rem;
}
.loading {
    margin: 20px 0px 50px 20px;
}
.uk-button.uk-button-primary.uk-position-bottom {
    margin: 40px;
    margin-bottom: 30px;
}

.uk-button.uk-button-primary {
    background-color: #FFAFAF;
}
.uk-button.uk-button-primary:hover {
    background-color: #ffbbbb;
}
.uk-button.uk-button-primary:active {
    background-color: #eaaaaa;
    transform: translateY(2px);
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .2s ease;
}
.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    transform: translateX(-50px);
}
.slide-fade-enter
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-50px);
    opacity: 0;
}

.slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(50px);
    opacity: 0;
}


.fade-enter-active {
    transition: all .3s ease;
}
.fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter
    /* .slide-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}